<div class="bg-img">
  <form  class="container">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Enter Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">
      Sign in
      </button>

   <p> Not registered yet? 
    <a routerLink= "/user-register" routerLinkActive="active">User</a> 
   </p>  
         
      
    <p>Not registered yet?
        <a routerLink= "/trainer-register" routerLinkActive="active">Trainer</a> 
   </p>
  </form>
</div>
