<div class="container">
    <form>
<h1>Send Request</h1>

<label for="timeslot"><b>Time Slot</b></label> <br>
<select id="timeslot" name="timeslot">
        <option value="" selected>Select option..</option>
         <option value="10-12">10A.M-12P.M </option>
         <option value="2-4">2P.M-4P.M</option>
         <option value="6-8">6P.M-8P.M</option>
       </select>


       <label for="start-date">Start Date</label>
       <input type="date" id="start-date" name="start-date">
      

       <label for="end-date">End Date</label>
       <input type="date" id="end-date" name="end-date" >

       <label for="trainer-name">Trainer Name</label>
       <input type="text" id="trainer-name" name="trainer-name" >

       <label for="trainer-email">Trainer Email</label>
       <input type="email" id="trainer-email" name="trainer-email" >

       <input type="submit" value="Send Request">
    </form>
</div>

