<div class="bg-img">
        <form  class="container">
          <h1>Trainer Registration</h1>
    
     <div style="width: 100%" >
       <div style="width: 50%">
          <label for="firstname"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="firstname" required>
      
       </div>
       <div style="width: 50%">
          <label for="lastname"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" name="lastname" required>
          
       </div>
     </div>
          
          
          
          <label for="username"><b>User Name</b></label>
          <input type="text" placeholder="Enter username" name="username" required>
    
    
          <label for="email"><b>Email</b></label> 
          <input type="email" placeholder="Enter Email" name="email" required>
    
    
          <label for="contactNumber"><b>Contact Number</b></label>
          <input type="tel" placeholder="Enter Contact Number" name="contactNumber" required>
    
    
          <label for="psw"><b>Enter Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label for="confirm_psw"><b>Confirm Password</b></label>
          <input type="password" placeholder="Confirm Password" name="confirm_psw" required>
    
          <label for="linkedin_url"><b>Linkedin Url</b></label>
          <input type="url" placeholder="Enter url" name="linkedin_url" required>

          <label for="experience"><b>Experience</b></label>
          <input type="text" placeholder="Enter experience in years" name="experience" required>

          <label for="technology"><b>Technology</b></label>
          <input type="text" placeholder="Enter technology" name="technology" required>
    
          <button type="submit" class="btn">Register</button>
      
          <p>Already a <a href="">Trainer ?</a></p>
    
        </form>
      </div>
