<h4>Requests Status</h4>
<div>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Pending</button>
  <div id="demo" class="collapse">
        You requested for .Net under Akash from 10/10/19 to 10/12/19 on 2P.M.-4P.M.
  </div>

</div>


<!-- <button class="accordion">Pending</button>
<div class="panel">
  <p>You requested for .Net under Akash from 10/10/19 to 10/12/19 on 2P.M.-4P.M</p>
</div>

<button class="accordion">Accepted</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Rejected</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div> -->
