
<div>
  
        <h4>Payment Information</h4>
        
        <table>
         
         
          <tr>
            <th>Technology</th>
            <th>Payment Status</th>
            <th>Tax </th>
            <th>Fees </th>
          
          </tr>
          <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
         </tr>
         <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
         </tr>
         <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
         </tr>
         <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
         </tr>
         <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
         </tr>
         </table>
         </div>
       
