<div class="container">
<label for="technology"><b>Technology</b></label>
<form >
    <select name="technology">
     <option value="" selected>Select option</option>
      <option value=".net">.NET </option>
      <option value="java">JAVA</option>
      <option value="php">PHP</option>
      <option value="python">PYTHON</option>
    </select> &nbsp;
    
    <button>Search</button>
  </form>


  <div class="search-container">
        <form >
          <input type="text" placeholder="Search by name.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
</div>